$primary: #ff3cd5;
$secondary: #8f183f; 

$custom-colors: (
 "ventanilla-100:" #9d004b, 
 "ventanilla-200:" #b20256, 
 "ventanilla-300:" #82003e, 
 "ventanilla-400:" #670933, 
 "ventanilla-500:" #4f0c22, 
 "footer-left:" #e5e0da, 
 "footer-right:" #dfdace, 
); 

$theme-colors: (
"primary":    $primary,
"secondary":  $secondary
);

$theme-colors: map-merge($theme-colors, $custom-colors);

.prueba2{
background-color: pink !important;
}
